{% extends 'layout.html' %}

{% block body %}


{% if companies %}
<h1> <small> Found term in companies </small></h1>
  <hr>
   <table class="table table-striped">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Domain</th>
      <th>Enterprise</th>
      <th>Creator</th>
      <th></th>
<!--      <th></th>-->
    </tr>
      {% for company in companies %}
      <tr>
        <td><a href="show_company/{{company.id}}" class="btn btn-block">{{company.id}}</a></td>
        <td><a href="show_company/{{company.id}}" class="btn btn-block">{{company.name}}</a></td>
        <td><a href="show_company/{{company.id}}" class="btn btn-block">{{company.domain}}</a></td>
        <td><a href="show_company/{{company.id}}" class="btn btn-block">{{company.enterprise}}</a></td>
        <td><a href="show_company/{{company.id}}" class="btn btn-block">{{company.contact_mail}}</a></td>
<!--        <td>{{company.contact_mail}}</td>-->
        <td><a href="show_company/{{company.id}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="Manage this company.">manage company</a></td>
<!--        <td><a class="btn btn-danger" href="/delete_company/{{company.company_id}}"> delete</a></td>-->
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_company"
     data-toggle="tooltip" title="Add a new company."> Add Company</a>

<br>
<br>
{% endif %}


<!-------------------------------------------------------------------------------------------------------->
{% if systems %}
 <h1> <small> Found term in systems </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>System Name</th>
      <th>Company</th>
      <th>Creator</th>
      <th></th>
<!--      <th></th>-->
    </tr>

      {% for system in systems %}
      <tr>
        <td><a href="show_system/{{system.system_url}}" class="btn btn-block">{{system.name}}</a></td>
        <td><a href="show_system/{{system.system_url}}" class="btn btn-block">{{system.company_name}}</a></td>
        <td><a href="show_system/{{system.system_url}}" class="btn btn-block">{{system.contact_mail}}</a></td>
        <td><a href="show_system/{{system.system_url}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="Manage this system.">manage system</a></td>
<!--        <td><a class="btn btn-danger" href="/delete_system/{{system.system_id}}"> delete</a></td>-->
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_system"
     data-toggle="tooltip" title="Add a new system to this company."> Add System</a>
<br>
<br>
{% endif %}

<!-------------------------------------------------------------------------------------------------------->
{% if clients %}
 <h1> <small> Found term in clients </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>System</th>
      <th>Creator</th>
      <th></th>
    </tr>
      {% for client in clients %}
      <tr>
        <td><a href="show_client/{{client.system_url}}/{{client.name}}" class="btn btn-block">{{client.name}}</a></td>
        <td><a href="show_client/{{client.system_url}}/{{client.name}}" class="btn btn-block">{{client.company_name}}</a></td>
        <td><a href="show_client/{{client.system_url}}/{{client.name}}" class="btn btn-block">{{client.system_name}}</a></td>
        <td><a href="show_client/{{client.system_url}}/{{client.name}}" class="btn btn-block">{{client.contact_mail}}</a></td>
        <td><a href="show_client/{{client.system_url}}/{{client.name}}" class="btn btn-info float-right"
                data-toggle="tooltip" title="Manage this client application.">manage client</a></td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_client"
     data-toggle="tooltip" title="Add a new client application to this system."> Add Client</a>
<br>
<br>
{% endif %}


<!-------------------------------------------------------------------------------------------------------->
{% if aas_list %}
 <h1> <small> Found term in aas connections </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>System</th>
      <th>Registry URI</th>
      <th>Creator</th>
      <th></th>
    </tr>
      {% for aas in aas_list %}
      <tr>
        <td><a href="show_client/{{aas.system_url}}/{{aas.name}}" class="btn btn-block">{{aas.name}}</a></td>
        <td><a href="show_client/{{aas.system_url}}/{{aas.name}}" class="btn btn-block">{{aas.system_name}}</a></td>
        <td><a href="show_client/{{aas.system_url}}/{{aas.name}}" class="btn btn-block">{{aas.registry_uri}}</a></td>
        <td><a href="show_client/{{aas.system_url}}/{{aas.name}}" class="btn btn-block">{{aas.contact_mail}}</a></td>
        <td><a href="show_client/{{aas.system_url}}/{{aas.name}}" class="btn btn-info float-right"
                data-toggle="tooltip" title="Manage this aas connection.">manage aas</a></td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_aas"
     data-toggle="tooltip" title="Add a new aas connection to this system."> Add aas connection</a>
<br>
<br>
{% endif %}


<!-------------------------------------------------------------------------------------------------------->
{% if streams %}
 <h1> <small> Found term in streams </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Source System</th>
      <th>Target System</th>
      <th>Creator</th>
      <th></th>
    </tr>
      {% for stream in streams %}
      <tr>
        <td><a href="show_stream/{{stream.system_url}}/{{stream.name}}" class="btn btn-block">{{stream.name}}</a></td>
        <td><a href="show_stream/{{stream.system_url}}/{{stream.name}}" class="btn btn-block">{{stream.source_system}}</a></td>
        <td><a href="show_stream/{{stream.system_url}}/{{stream.name}}" class="btn btn-block">{{stream.target_system}}</a></td>
        <td><a href="show_stream/{{stream.system_url}}/{{stream.name}}" class="btn btn-block">{{stream.contact_mail}}</a></td>

        <td><a href="show_stream/{{stream.system_url}}/{{stream.name}}" class="btn btn-info float-right"
                data-toggle="tooltip" title="Manage this stream.">manage stream</a></td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_stream"
     data-toggle="tooltip" title="Add a new stream application to this system."> Add Stream</a>

<br>
<br>
{% endif %}
{% endblock %}
