{% extends 'layout.html' %}

{% block body %}

    <h1>Add new connection to an asset administration shell to system {{payload.system_name}}</h1>
    <br>

    <p>The thing-connection will be immutable.</p>

    {% from "includes/_formhelpers.html" import render_field %}

    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.name, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.resource_uri, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.description, class_="form-control")}}
            <small id="description" class="form-text text-muted">The description is optional.</small>
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"> </p>

    </form>

  <br>
  <br>
{% endblock %}

